[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase = "*"
google-cloud-storage = "*"
python-dotenv = "*"
python-jwt = "*"
gcloud = "*"
sseclient = "*"
crypto = "*"
pycryptodome = "*"
requests-toolbelt = "*"
firebase-admin = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
