[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
oauth2client = "==4.1.3"
requests = "==2.24.0"
gspread = "==3.6.0"
firebase = "==3.0.1"
Flask = "==1.1.2"
Flask-WTF = "==0.14.3"
WTForms = "==2.3.3"
gunicorn = "*"

[requires]
python_version = "3.8"
