[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
firebase-admin = "*"
flask-wtf = "*"
google-cloud-storage = "*"
wtforms = "*"
python-dotenv = "*"
flask-login = "*"

[requires]
python_version = "3.8"
