<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/mbts.png') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    MBtS | Master Panel
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/now-ui-dashboard.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    body {
        background-color: #242424;
    }
    #loading {
      display: none;
      cursor: wait;
      position: fixed;
      top: 50%;
      left: 50%;
      width: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      }
      .card {
        box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .card-img-top {
          width: 100%;
          height: 500px;
      }
  </style>

</head>

<body>
  <div id="loading">
    <div class="card mb-3">
      <img src="{{ url_for('static', filename='img/loading.gif') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Please Wait...</h5>
        <p class="card-text">Patience is a virtue of the brave</p>
      </div>
    </div>
  </div>
  <div class="wrapper" id="content">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="{{ url_for('home') }}" class="simple-text logo-normal">
          <img src="{{ url_for('static', filename='img/mbts.png') }}" alt="">
        </a>
      </div>
      
      <div class="sidebar-wrapper" id="sidebar-wrapper">

        <ul class="nav">

          {% if activate.home %}
            <li class="active">
              <a href="{{ url_for('home') }}" onclick="loading()">
                <i class="now-ui-icons business_bank"></i>
                <p>Dashboard</p>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ url_for('home') }}" onclick="loading()">
                <i class="now-ui-icons business_bank"></i>
                <p>Dashboard</p>
              </a>
            </li>
          {% endif %}

          {% if activate.table %}
            <li class="active">
              <a href="{{ url_for('table') }}" onclick="loading()">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Table List</p>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ url_for('table') }}" onclick="loading()">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Table List</p>
              </a>
            </li>
          {% endif %}

          {% if activate.write %}
            <li class="active ">
              <a href="{{ url_for('entry') }}" onclick="loading()">
                <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                <p>Write review</p>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ url_for('entry') }}" onclick="loading()">
                <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                <p>Write review</p>
              </a>
            </li>
          {% endif %}

          {% if activate.message %}
            <li class="active">
              <a href="{{ url_for('message') }}" onclick="loading()">
                <i class="now-ui-icons ui-1_email-85"></i>
                <p>View Messages</p>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ url_for('message') }}" onclick="loading()">
                <i class="now-ui-icons ui-1_email-85"></i>
                <p>View Messages</p>
              </a>
            </li>
          {% endif %}

        </ul>

        <div class="card" style="width: 85%; margin:18px">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <img src="{{ url_for('static', filename='img/browser.svg') }}" class="card-icon" style="width: 25px; height:auto; margin-right: 10px" alt="">
                <a href="https://movies-by-the-sea.herokuapp.com/" target="_blank">Live site</a>
                </li>
              <li class="list-group-item">
                <img src="{{ url_for('static', filename='img/github.svg') }}" class="card-icon" style="width: 25px; height:auto; margin-right: 10px" alt="">
                <a href="https://github.com/Saumya-Bhatt/movies.by.the.sea" target="_blank">Github</a>
              </li>
              <li class="list-group-item">
                <img src="{{ url_for('static', filename='img/heroku.svg') }}" class="card-icon" style="width: 25px; height:auto; margin-right: 10px" alt="">
                <a href="https://dashboard.heroku.com/apps/movies-by-the-sea" target="_blank">Heroku</a>
              </li>
              <li class="list-group-item">
                <img src="{{ url_for('static', filename='img/database.svg') }}" class="card-icon" style="width: 25px; height:auto; margin-right: 10px" alt="">
                <a href="https://console.firebase.google.com/project/movies-by-the-sea-ca0b5/overview" target="_blank">Firebase</a>
              </li>
              <li class="list-group-item">
                <img src="{{ url_for('static', filename='img/instagram.svg') }}" class="card-icon" style="width: 25px; height:auto; margin-right: 10px" alt="">
                <a href="https://www.instagram.com/movies.by.the.sea/" target="_blank">Instagram</a>
              </li>
            </ul>
          </div>

      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="{{ url_for('home') }}">Master Panel</a>
          </div>



          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!-- <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form> -->
            <ul class="navbar-nav">
              <!-- <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons media-2_sound-wave"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">
                  <p>logout</p>
                </a>
              </li>
            </ul>
          </div>



        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>



      {% block content %}
      {% endblock %}



      <!-- <footer class="footer">
        <div class=" container-fluid ">
          <div class="copyright" id="copyright">
            &copy; <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Saumya Bhatt</a>.
          </div>
        </div>
      </footer> -->

      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  
                <div class="alert alert-info alert-with-icon custom-css" id="notification" data-notify="container">
                    <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
                    <span data-notify="message">{{ message }}</span>
                </div>

              {% endfor %}
          {% endif %}
      {% endwith %}


    </div>
  </div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>


  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <!-- <script src="{{ url_for('static', filename='js/now-ui-dashboard.min.js?v=1.5.0') }}" type="text/javascript"></script> -->


  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->

  <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
      apiKey: "AIzaSyBsNvUpjb4MRhd6by4_G3SBW9Ple2JXqwE",
      authDomain: "movies-by-the-sea-ca0b5.firebaseapp.com",
      databaseURL: "https://movies-by-the-sea-ca0b5-default-rtdb.firebaseio.com",
      projectId: "movies-by-the-sea-ca0b5",
      storageBucket: "movies-by-the-sea-ca0b5.appspot.com",
      messagingSenderId: "871943937570",
      appId: "1:871943937570:web:88b09e4e87f941fe0c347b"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  setTimeout(function() {
      $('#notification').fadeOut('slow');
  }, 5000); // <-- time in milliseconds

    function loading(){
      $("#loading").show();
      $("#content").hide();       
  }

  </script>

</body>

</html>