{% extends 'layout.html' %}

{% block video %}
<source src="{{ url_for('static', filename='noir.mp4') }}" type="video/mp4">
{% endblock video %}

{% block heading %}
    <div class="col-lg-12 home">
        <h1>Movies by the Sea</h1>
        <p style="text-transform: none;">You only got one life. <br> Don't waste it by watching mediocre movies</p>  
    </div>

    <div class="col-lg-4 ">
        <div class="div-img-bg">
        <div class="about-img">
            <img src="{{ url_for('static', filename='images/me.jpg') }}" class="img-responsive" alt="me">
        </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="about-descr">

        <p class="p-heading">Hi! I am Saumya Bhatt</p>
        <p class="separator">I love watching movies! My Dad, an avid movie lover himself has a cabinate full of DVDs. It had all the 
            classics. Mybe that's what got me started into movies.</p> <p> Though I'm no movie critique, I like to lable myself as a cinephile
            and can definitely support that statement by a having watched a wide range of movies - from as early as '12 Angry Men' to 'Marriage Story'! 
        </p>
        <p>This is just a small project wherein I can share with you guys some of the best that cinema has to offer and give my two cents on it.
            Hope you like it :)
        </p>

        </div>

    </div>
{% endblock heading %}

{% block content %}
    <div class="container">
        <div class="section-title text-center">
        <h2>Top Rated Reviews</h2>
        <p>Although I try to keep up with all the latest movies and some of the classics, I physically cannot do so while giving equal 
            amount of atention to studies! Hence I may have missed a few classics and the timeline of movies may not be in the correct order.
            But I can assure you whatever movies I've written here are definitely a must watch! 
        </p>
        </div>
    </div>

    <div class="container">
        <div class="journal-block">

        <br><br>

        <div class="row poster-grid">

            {% for item in data %}
                {% if item.Overall|float() > 4 %}
                        <div class="journal-info {{ item.Genre }}">
                            <a class="portfolio-link" href="{{ url_for('get_review',movie_id=item.ID) }}"><img src="{{ item.Image }}"  class="img-responsive" alt="{{ item.Name }}"></a>
                        </div> 
                {% endif %}
            {% endfor %}      

        </div>
        <br>
        <p style="text-align: center;">Click <a href="{{ url_for('review') }}" style="color: bisque;">here</a> to read more reviews!</p>

        </div>
    </div>

    <br><br><br>
    <div class="container" id="SEARCH">
        <h3>Search Movies</h3>
        <p>Enter the name of the movie, and get it's plot summary, the actors and the year of release. Press Enter to get the details. Eg try 'Get Out'</p>
        <form action="{{ url_for('home') }}" class="search" method="post">
            {{movie_input.csrf_token}}
            {{movie_input.movie_name(class='form-control',placeholder='Enter Movie Name')}}
        </form>
        <div class="result">
            <p><b>Movie Name</b> : {{ result.title }}</p>
            <p><b>Year of release</b> : {{ result.year }}</p>
            <p><b>Plot summary</b> : {{ result.plot }}</p>
            <p><b>Actors</b> : {% for i in result.actors %}{{i}}, {% endfor %}</p>
        </div>
    </div>
    <br><br>
{% endblock content %}
