{% extends 'login_layout.html' %}

{% block content %}

<div class="card login mb-3" style="background-color: #242424;">
    <div class="row g-0">
      <div class="col-md-12" style="padding: 0px 15px;">
        <div class="card-body">
            <h2 class="card-title">Let's get you logged in first</h2>
            <p class="card-text">
                <small class="text-muted">You need to login first to access this functionality. </small>
            </p>  
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary">Login Panel</a>           
        </div>
      </div>
    </div>
  </div>

{% endblock %}